.ascii-art {
    color: #6faaf6;
    white-space: pre;
    font-size: 14px;
    margin-top: -1rem;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.info {
    font-weight: bold;
    margin-bottom: 1rem;
}
